
#id3 {
    height: 80%;
    width: 80%;
    float: left;
}

.my-btn {
    color: #000000;
    font-size: 20px;
    font-family: "仿宋";
}

#id4 {
    height: 80%;
    width: 80%;
    float: left;
}

#id5 {
    color: #0C0C0C;
    width: 60px;
}

#id6 {
    color: #0C0C0C;
    width: 40px;
}

#id7 {
    color: #0C0C0C;
    width: 40px;
}

#id-btn {
    color: #0C0C0C;
}
